.tablePayments__cell {
  display: grid;
  grid-template-columns: fit-content(30px) 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 12px;
  grid-template-areas:
    'icon name'
    'icon symbol';
  height: 100%;
  align-items: center;
}

.tablePayments__icon {
  display: flex;
  align-items: center;
  width: 24px;
  grid-area: icon;
}

.tablePayments__head {
  grid-area: name;
}
.tablePayments__body {
  grid-area: symbol;
}
