.tabContent__titleGrid {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 5fr 1fr;
	height: 32px;
	margin-bottom: 24px;
	text-align: center;
}

.tabContent__titleGrid > svg {
	cursor: pointer;
}

.tabContent__selectAssetCell {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 8px;
}

.tabContent__selectAssetCell svg {
	color: #2151f5;
}
