.Content {
	display: grid;
	grid-template-columns: 67% 33%;
	overflow-y: scroll;
	padding: 24px 24px;
	background-color: #f9f9fd;
}

@media (max-width: 1150px) {
	.Content {
		grid-template-columns: 100%;
	}
}

@media (max-width: 800px) {
	.Content {
		padding-bottom: 64px;
	}
}
