.ContentCenter {
	margin: 0 24px 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 1150px) {
	.ContentCenter {
		margin: 0;
	}
}

@media (max-width: 400px) {
	.ContentCenter {
		align-items: flex-start;
	}
}
