.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  padding: 16px 24px;
  border-bottom: 1px solid #dedfd2;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__verticalLine {
  border-left: 1px solid #dedfd2;
  width: 1px;
  height: 35px;
  margin: 0 8px;
}

.header__avatar {
  cursor: pointer;
}

.header__menu {
  font-size: 24px;
  cursor: pointer;
}
