.Section {
	width: 100%;
	min-width: 320px;
	height: fit-content;
	border: 1px solid #dedfd2;
	border-radius: 8px;
	background-color: white;
	margin-bottom: 24px;
}

.section-width-s {
	max-width: 650px;
}
