.TableRowInputText:hover td {
	background-color: white;
}

.tableRowInputText__cellVerticalAligned {
	display: flex;
	align-items: center;
}

.tableRowInputText__icon {
	margin: 3px 16px 0 0;
	color: #5b616e;
}
